<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <base href="/" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/reptilien.js"></script>

  </head>
  <body>
  	<h1><%= title %></h1>

    <form onSubmit="return checkIfReptilien();">
    <input id="form" type="text" maxlength="55" class="box" autofocus />
    <input type="submit" class="submit" value="SUBMIT" />
    </form>
    <br />

    <h2><%= text %></h2>
    <ul>
      <li><a href="/Barack%20Hussein%20Obama">Barack Hussein Obama</a></li>
      <li><a href="/Hillary%20Rodham%20Clinton">Hillary Rodham Clinton</a></li>
      <li><a href="/George%20Walker%20Bush">George Walker Bush</a></li>
      <li><a href="/Dick%20Cheney">Dick Cheney</a></li>
      <li><a href="/Jean-Claude%20Juncker">Jean-Claude Juncker</a></li>
      <li><a href="/Jacob%20Rothschild">Jacob Rothschild</a></li>
      <li><a href="/Mark%20Zuckerberg">Mark Zuckerberg</a></li>
      <li><a href="/Bill%20Gates">Bill Gates</a></li>
      <li><a href="/Nicolas%20Cage">Nicolas Cage</a></li>
    </ul>

  	<a href="/" class="footer"><%= footer %></a>
  </body>
</html>